<!DOCTYPE html>
<html>
<head>
  <title>TITAN</title>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap-theme" %>
  <%= stylesheet_link_tag "fullcalendar" %>
  <%= stylesheet_link_tag "index" %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= csrf_meta_tags %>
</head>
<body>
<% if notice %>
    <p class="alert alert-notice"><%= notice %></p>
<% end %>
<% if alert %>
    <p class="alert alert-error"><%= alert %></p>
<% end %>

<%= yield %>
<%= javascript_include_tag "jquery.js" %>
<%= javascript_include_tag "fullcalendar" %>
<%= javascript_include_tag "bootstrap" %>
<%= javascript_include_tag "index" %>
</body>
</html>